@import 'tailwindcss';

@theme {
  --color-primary-2: #ffe0a3;
  --color-primary-1: #fff6c7;
  --color-primary-0: #fffae2;

  --color-secondary-2: #b13535;
  --color-secondary-1: #c93e3e;
  --color-secondary-0: #db5252;

  --color-detail-2: #00a408;
  --color-detail-1: #25ba2c;
  --color-detail-0: #36cb3e;

  --font-normal: 'Source Serif 4', sans-serif;
  --font-heading: 'Josefin Slab', sans-serif;

  --shadow-small: 1px 1px 4px rgba(0, 0, 0, 0.4);
  --shadow-small-inset: inset 1px 1px 4px rgba(0, 0, 0, 0.4);
  --shadow-medium: 2px 2px 8px rgba(0, 0, 0, 0.4);
  --shadow-medium-inset: inset 2px 2px 8px rgba(0, 0, 0, 0.4);
  --shadow-large: 4px 4px 16px rgba(0, 0, 0, 0.4);
  --shadow-large-inset: inset 4px 4px 16px rgba(0, 0, 0, 0.4);
}

@layer base {
  h1 {
    @apply text-7xl md:text-9xl font-heading font-semibold md:font-[400];
  }
  h2 {
    @apply text-5xl md:text-7xl font-heading;
  }
  h3 {
    @apply text-3xl md:text-5xl font-heading font-semibold;
  }
  p {
    @apply text-2xl font-normal;
  }
}
